{layout '../index.latte'}

{block content}
    <h1>Hello World</h1>

    <ul n:ifcontent>
        <li n:foreach="$posts as $post">
            {$post->title}
            <br>
            Author - {$post->author->display_name}
        </li>
    </ul>
{/block}